@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    font-family: 'Inter', sans-serif;
    
}


:root{

--Soft-orange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);
--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);

}


.btn-close{
    background-size: auto;
}


.logo{

width: 50px;

}

h1{
font-size: 38px;
font-weight: 700;

}

.boton_leer{

border: none;
background: var(--Soft-red);
padding: 10px;
width: 174px;
color: white;
letter-spacing: 5px;
font-size: 15px;
}

.new ,.ai,.funding,.encabezado1{

color: var(--Soft-orange);
font-weight: 700;
}

.textos{
background: var(--Very-dark-blue);
}

.articulo
{
color: var(--Grayish-blue);
}

.articulo1{
border-bottom: red;
}

.computers,.laptops,.gaming{

width: 120px;
}

.computers, .laptops,.videogames{

float: left;

}

.logo{

width: 30px;    

}

.nav-item:hover{
text-decoration: underline;

}

.nav-item{

transition: all 0.2s;

}

.boton_leer {

display: inline-block;
transform: perspective(1px) translateZ(0);
}

.boton_leer:hover,
.boton_leer:focus,
.boton_leer:active{

    animation-name: efectoBoton;
    animation-duration: 1s ;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;

}

@keyframes efectoBoton {

17% {transform: translateY(8px);}
34% {transform: translateY(-6px);}
50% {transform: translateY(4px);}
67% {transform: translateY(-2px);}
84% {transform: translateY(1px);}
100% {transform: translateY(0);}

}

.logo {

    display: inline-block;
    transform: perspective(1px) translateZ(0);
    }
    
    .boton_leer:hover,
    .boton_leer:focus,
    .boton_leer:active{
    
        animation-name: efectoBoton;
        animation-duration: 1s ;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
    
    }
    
    @keyframes efectoBoton {
    
    17% {transform: translateY(8px);}
    34% {transform: translateY(-6px);}
    50% {transform: translateY(4px);}
    67% {transform: translateY(-2px);}
    84% {transform: translateY(1px);}
    100% {transform: translateY(0);}
    
    }




@media only screen and (min-width: 576px){

    .logo{
    
    width: 60px;
    
    }

}
@media only screen and (min-width: 1200px){

.titulo-primero, .titulo-segundo{

bottom:135px

}

.division{

position: relative;
bottom: 170px;

}
}


@media only screen and (min-width: 1400px){

    .titulo-primero, .titulo-segundo{
    
    bottom:40px
    
    }
    
    .division{

        position: relative;
        bottom: 90px;
        }
    
    }